body {
    font-family: Arial, sans-serif;
    background-color: #d6c8b4;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s ease;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

   
}
.brand-title {
    font-size: 24px;
    font-weight: bold; 
    color: #333;
    font-family: 'monospace';
}

h1 {
    color: #37533c
    
  
}
h2{
    font-family: 'David'; 
}

.col-md-6
.section-title {
    font-size: 130px; 
    text-transform: uppercase;
    text-align: center; 
    font-family: 'David'; 
    color: #37533c;
}


.element.style{
    text-align: center
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    height: 100%;
    text-align: center 

}

.text-container h1, .text-container p {
    margin: 0; 
}

.header {
    background: linear-gradient(90deg, #37533c, #37533c); 
    padding: 10px 0;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header a.navbar-brand,
.header .nav-link {
    color: #fff;
}

.header a.navbar-brand:hover,
.header .nav-link:hover {
    color: #37533c;
}


.contents {
    background-color: #f0f0f0;
    border-left: 5px solid #37533c; 
    padding: 20px;
    transition: border-color 0.3s ease;
}

.contents-title {
    color: #37533c;
}

.contents-list {
    list-style: none;
    padding: 0;
}

.contents-list li {
    margin-bottom: 10px;
}

.contents-list a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contents-list a:hover {
    color: #37533c;
}

.about .profile-image {
    max-width: 50%;
    float: left; 
    margin-right: 20px; 
}
.col-md-6 img {
    max-width: 100%;
    float: left;
    display: block; 
    margin: 0 auto; 
}

.about .profile-image:hover {
    border-color: #37533c; 
}


.section {
    margin-bottom: 30px;
}

.attention {
    font-weight: bold;
    color: rgb(255, 0, 0);
}
.section-title {
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'David';
}

.section-image {
    max-width: 70%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.section-image:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}

/* Impressum-Seite Styles */
.impressum {
    background: linear-gradient(90deg, #37533c, #37533c); 
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, background 0.3s ease;
}


.section-image{
   max-width: 40%;
   border-radius: 3%; 
    overflow: hidden;
    margin-right: 10px;
    width: 150px; 
    height: 150px;  
    margin-bottom: 20px;
}

.impressum p {
    margin: 0;
}

body {
     
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
}

.impressum-container {
    max-width: 550px;
    
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 8px;
   

}
.container {
    background-color: #ffffff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
   
}

.impressum-container p {
    margin-bottom: 1px; /* Hier kannst du den gewünschten Abstand einstellen */
    color: #666;
}

.download-pdf{
    max-width: 550px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;

}

download-link {
    display: inline-block; 
    padding: 10px 20px;
    background-color: #37533c;
    color: #37533c;
    text-decoration: none;
    border-radius: 5px;
    
}


.container:hover,   
.contents:hover,
.about:hover,
.section:hover,
.impressum:hover {
    background-color:#d6c8b4, #fff; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


.container,
.contents,
.about,
.section,
.impressum {
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
